@tailwind base;
@tailwind components;
@tailwind utilities;


/* General Setting */
*{
    padding: 0;
    margin:0;
    box-sizing: 0;
}
:root {
    font-family: sans-serif;
}
img {
    border-radius: 20px;
    
}






